<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head></head>
<body>
 <section layout:fragment="content">
 <nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#"> <i class="fa fa-home fa-sm" style="font-size:20px;color:black;"></i></a></li>
	    <li class="breadcrumb-item"><a href="#">Processos</a></li>
	   <!--  <li class="breadcrumb-item">Criar Novo Processo</li> -->
	    
	  </ol>
</nav>

 <h5><i class="fa fa-list-alt" aria-hidden="true"></i> Processo</h5>
			
<div class="row">


<div class="col-md-6">
<div class="card">
  <div class="card-body">
<span class="badge text-bg-secondary">Processos do Usuario</span>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Ano</th>
      <th scope="col">Numero/Ano</th>
      <th scope="col">Assunto</th>
      <th scope="col">Classificação</th>
    </tr>
  </thead>
  <tbody>
   <tr th:each="rs : ${processosUser}" th:id="'tr' + ${rs.id}">					  
			   <td th:text="${rs.numproc}"></td>
			   <td th:text="${rs.ano}"></td>		
			   <td th:text="${rs.ano}"></td>						
			   <td th:text="${rs.assunto}"></td>
			   <td th:text="${rs.classificacao}"></td>				   	   
		</tr>
  </tbody>
</table>

</div>

</div>
</div>

<div class="col-md-6">
<div class="card">
  <div class="card-body">
<span class="badge text-bg-secondary">Processos do Setor</span>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Ano</th>
      <th scope="col">Numero/Ano</th>
      <th scope="col">Assunto</th>
      <th scope="col">Classificação</th>
    </tr>
  </thead>
  <tbody>
    	<tr th:each="rs : ${processosSetor}" th:id="'tr' + ${rs.id}">					  
			   <td th:text="${rs.numproc}"></td>
			   <td th:text="${rs.ano}"></td>		
			   <td th:text="${rs.ano}"></td>						
			   <td th:text="${rs.assunto}"></td>
			   <td th:text="${rs.classificacao}"></td>				   	   
		</tr>
  </tbody>
</table>
</div>
</div>


</div>
</div>
					

	


</section>
<div layout:fragment="jscript">
 <script>
 var URL = '[[@{/}]]api';
   
   $("[id*='del']").click(function(event){
	  	  event.preventDefault();
	  	  var id = $(this).data("id");
	  	  var nome = $(this).data("nome");
	  	  swal({
	  		  title: 'Excluir?',
	  		  text: "Remover o acesso do Candidato? (" + nome + ")",
	  		  icon: 'warning',
	  		  buttons: [true, "Sim Excluir!"]
	  		}).then((result) => {
	  		  if (result) {
	  			  $.ajax({
	  				  url: URL + "v2/api/candidatos/delete/" + id,
	  				  method: "DELETE",
	  				  statusCode: {
	  					    403: function(xhr) {
	  					      	swal("Atenção","Você não tem permissão para realizar essa operação","error");
	  					    }
	  					  }
	  				}).done(function() {
	  				  $('#tr'+id).remove();		  
	  				});
	  		   }
	  		})
	  	  });
   
   
   var myModalEl = document.getElementById('imgModal')     
   myModalEl.addEventListener('show.bs.modal', function (event) {
    var href = $(event.relatedTarget)
     var id = href.data('record-id');    
    
	    $.getJSON( URL+"/candidatos/"+id, function( json ) {	  	 
	  	$('#fotoid').attr('src',`data:image/png;base64,${json.foto}` );
		$('#nomeCandidato').text(json.nome);
	  	
  	});

   })

   

   
</script>
</div>
  
</body>
</html>