<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head></head>
<body>
<section layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5><i class="fa fa-list-alt" aria-hidden="true"></i> Tipos de Processo</h5>
                </div>
                <div class="col-md-6 text-end">
                    <a class="btn btn-sm btn-primary" th:href="@{/tiposProcesso/new}" role="button" style="border-radius: 10px;" title="Cadastrar Tipo de Processo">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Tipo
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>                       
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipo : ${tiposProcesso}">                        
                        <td th:text="${tipo.descricao}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
