<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script th:src="@{/js/tinymce/tinymce.min.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            tinymce.init({
                selector: '#conteudo',  // Aplica ao campo de textarea com id 'conteudo'
                language: 'pt_BR',
                browser_spellcheck: true,  // Ativa o corretor ortográfico do navegador
                contextmenu: false,  // Desativa o menu de contexto
                plugins: [
                    'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                    'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                    'insertdatetime', 'media', 'table', 'help', 'wordcount'
                ],
                toolbar: 'undo redo | blocks | bold italic backcolor | alignleft aligncenter alignright | bullist numlist outdent indent | removeformat | help',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
            });
        });

        // Função para validar o formulário antes do envio
        function validateForm() {
            // Sincroniza o conteúdo do TinyMCE com o campo de texto
            tinymce.triggerSave();

            // Validação do campo 'conteudo' (textarea)
            var conteudoField = document.getElementById('conteudo');
            if (!conteudoField.checkValidity()) {
                conteudoField.setCustomValidity('Por favor, preencha o conteúdo.');
                conteudoField.reportValidity();  // Exibe a mensagem personalizada
                return false;  // Impede o envio
            } else {
                conteudoField.setCustomValidity('');  // Limpa a mensagem se estiver válido
            }

            // Validação do campo 'nomdoc' (nome do documento)
            var nomdocField = document.getElementById('nomdoc');
            if (!nomdocField.checkValidity()) {
                nomdocField.setCustomValidity('Por favor, preencha o nome do documento.');
                nomdocField.reportValidity();  // Exibe a mensagem personalizada
                return false;  // Impede o envio
            } else {
                nomdocField.setCustomValidity('');  // Limpa a mensagem se estiver válido
            }

            // Se todos os campos estão válidos, permite o envio
            return true;
        }

        // Função para definir o flag (salvar rascunho ou criar arquivo)
        function setFlag(value) {
            document.getElementById("flag").value = value;
        }

        // Função para "Criar Novo Documento"
        function criarDocumento() {
            document.getElementById("editor-container").style.display = "block"; // Exibe o editor
            tinymce.get("conteudo").setContent(''); // Limpa o conteúdo do editor
            document.getElementById("flag").value = 0; // Define o valor de "flag" para novo documento
        }
    </script>
    <style>
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            background: linear-gradient(to bottom right, #ffffff, #f8f9fa);
            margin-bottom: 20px;
            margin-top: 75px;
        }
        .card:hover {
            transform: scale(1.05);
        }
        
              .stepper-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .stepper-item {
            text-align: center;
            flex: 1;
        }

        .stepper-item .step-counter {
            display: block;
            background-color: #00537d;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
        }

        .stepper-item.completed .step-counter {
            background-color: #28a745;
        }

        .stepper-item .step-name {
            font-size: 12px;
            margin-top: 5px;
        }
        
    </style>
</head>
<body>
    <section layout:fragment="content">
        <div class="container mt-4">
            <div class="card">
                <div class="card-header" style="background-color: #00537d; color: white;">
                    <h5>
                        <span class="badge text-bg-secondary">
                            <i class="bi bi-upload"></i> 
                            <span th:text="${doc.id == null ? ' Criar Novo Documento' : 'Editar Documento'}"></span>
                        </span>
                    </h5>
                </div>
                <div class="card-body">
                
                 <div class="mb-4 p-3">
                    <div class="stepper-wrapper">
                        <div class="stepper-item completed">
                            <div class="step-counter">1</div>
                            <div class="step-name">Criando Processo</div>
                        </div>
                        <div class="stepper-item completed">
                            <div class="step-counter">2</div>
                            <div class="step-name">Classificação do Processo</div>
                        </div>
                        <div class="stepper-item completed">
                            <div class="step-counter">3</div>
                            <div class="step-name">Finalizar</div>
                        </div>
                    </div>
                </div>
                
                    <div th:if="${alertMessage}" th:classappend="'alert-' + ${alertMessage.type}" class="alert alert-dismissible fade" role="alert">
                        <span th:text="${alertMessage.message}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <!-- Formulário para Criar ou Editar Documento -->
                    <form th:action="@{/docs/gerarPdf}" th:object="${doc}" method="post" onsubmit="return validateForm();">
                       <input type="hidden" th:value="${processo.id}" name="idProcesso"/>
                        <input type="hidden" th:field="*{id}" />              
                        
			                 <div class="col-6 mb-3">
			                     <label for="nomdoc" class="form-label">Nome do Documento</label>
			                     <input type="text" id="nomdoc" name="nomdoc" class="form-control" th:field="*{nomdoc}" required/>
			                </div>
			                
			                <div class="col-6 mb-3">
			                    <label for="cpf" class="form-label">Tipo</label>
			                    <select id="tipo" th:errorclass="is-invalid" class="form-select form-select-sm" th:field="*{tipoDoc}">
			                        <option th:text="${'Selecione o Tipo'}" th:value="${'0'}"></option>
			                        <option th:each="tipo : ${tipos}" th:text="${tipo.tipo}" th:value="${tipo.id}"></option>
			                    </select>
			                </div>               
                        
                        <div class="mb-3">
                            <label for="fileUpload" class="form-label">Upload de Documento</label>
                            <input type="file" id="fileUpload" name="file" class="form-control" accept=".docx,.pdf" />
                        </div>

                        <input type="hidden" th:field="*{flag}" id="flag">

                        <div class="mb-3">
                            <textarea id="conteudo" name="conteudo" th:field="*{conteudo}"></textarea>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-secondary btn-sm me-2" onclick="setFlag(1)">Salvar Rascunho</button>
                            <button type="submit" class="btn btn-primary btn-sm me-2" onclick="setFlag(0)">Criar Arquivo</button>
                            <button type="button" class="btn btn-warning btn-sm" id="voltar" onclick="history.back()">Voltar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Botão para Criar Novo Documento -->
    <div class="container mt-3">
        <button type="button" class="btn btn-primary" id="criarDocumentoBtn" onclick="criarDocumento()">Upar / Criar Novo Documento</button>
    </div>
</body>
</html>
