<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head></head>
<body>
 <section layout:fragment="content">

   <h1>PAD-M</h1>
    <p class="lead">
			O PAD-M é uma plataforma tecnológica projetada para facilitar e otimizar o gerenciamento e execução de processos digitais dentro da organização.<br>
    		O PAD-M visa transformar a gestão organizacional, tornando-a mais ágil, eficiente, segura e colaborativa, adaptando-se às necessidades e demandas do ambiente empresarial moderno.
    </p>
    <a class="btn btn-lg btn-primary" th:href="@{/login}" role="button">Entrar no Sistema &raquo;</a> 
 </section>
 
<div layout:fragment="jscript">
 <!-- <script src="content-script.js"></script>  -->
 <script>
    var URL = '[[@{/}]]api/';
 </script>
</div>
  
</body>
</html>